.scrapper-buttons {
    display: flex;
    position: fixed;
    top: 50%;
    height: 40px;
    right: 0;
    z-index: 1000;
    gap: 2px;
    transform: rotate(90deg) translate(0, -150px);
}

.scrapper-buttons > button {
    background-color: var(--artdeco-button-primary-default-static-background-color);
    color: var(--artdeco-button-primary-default-static-color);
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.scrapper-buttons > button:hover {
    background-color: var(--artdeco-button-primary-default-hover-background-color);
    color: var(--artdeco-button-primary-default-hover-color);
}

.scrapper-buttons > button[disabled] {
    background-color: gray;
    cursor: auto;
}
